{#
Copyright(c) 2015 Telecom and Et Payment Gateway, Inc. All rights reserved.
#}
<button id="order-button" type="submit" class="btn btn-primary btn-block prevention-btn prevention-mask">{{ button_comment }}</button>
