{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}

    <div id="" class="main_only">
        <div id="agreement_wrap" class="container-fluid inner no-padding">
            <div id="">
                <h1 class="page-heading">IN YOU Marketについて</h1>

                <div id="agreement_box__body" class="container-fluid">
                    <div id="agreement_box__customer_agreement" class="row">
                        <div class="col-md-12 col-md-offset-0">

<img src="http://macrobiotic-daisuki.jp/cms/wp-content/uploads/Adobe-Spark-73-e1478076640804.jpg
" alt="" /><br><br><br>

<h2>IN YOU Marketに遊びに来て下ったあなたへ。<br>
  編集長　松浦 愛からのメッセージ</h2>
  
  
  <div class="text01">

<div align="center"><img src="http://macrobiotic-daisuki.jp/cms/wp-content/uploads/DSC09344-2.jpg" alt=""/></div><br>


<br><br>
<h4>IN YOUMarketは、【家族、大切な人、親友にも自信を持っておすすめできる商品のみを掲載する、LOVEとHAPPYが溢れるオーガニックオンラインマーケット】です。<br></h2>

<h2><strong><br>＜商品選定基準＞<br></strong></h2><br>
<h3>掲載製品の９９%が農薬不使用・オーガニックというストイックな姿勢を貫きます。</h3><br>
<h4>
・家族や大切な人にも自信を持ってお勧めできる安心な製品を原材料確認は勿論、編集長や編集部が実際に飲んだり食べたりして審査・選定。「これなら大切な人にもあげられる」と思ったもののみ掲載します。<br><br>
・農薬・化学肥料、食品添加物、遺伝子組み換え由来原料、化学物質が使われていない商品が大凡９９%です。<br>
<br>こだわった自然食品店よりもさらに厳しい基準となっております。<br><br>
<br>そのほかの１%についても、もちろん食品添加物、遺伝子組み換え由来原料は使われていないもの。一部減農薬（残留農薬不検出）など最大限消費者の健康・安全面に配慮して作られた、非常に優良な商品だけを取り扱っております。※また今後掲載する新規商品については減農薬のものは基本的に対象外とする予定です。<br><br><br>
<br>減農薬など、完全無農薬ではない場合は、農薬使用有無は文章内に記載しておりますのでご安心ください。<br></h4>

私たちは消費者目線のオンライン・マーケットを目指しており、あなた方消費者の味方です。
いくつもの組織がされている様な「利益のために消費者を騙すこと」は絶対しない。という人間として当たり前・根本的な姿勢を貫き続けます。<br>

<h2>IN YOUMarketでお買い物していただくことによって大きく３つの貢献ができます。</h2>
<br><br><br>
<strong>❶　オーガニックやナチュラルな事業を行うメーカーや生産者を応援することによって日本の食汚染の拡大を防ぎ、クリーンな企業のサポートができます。また、遺伝子組み換えや化学物質を大量に使用する有害な商品を買わないことで、間接的な社会貢献につながります。<br><br>
❷　ナチュラルな製品に触れていただくことで、あなたと大切な人の、心身ともに健やかな生活をサポートします。<br><br>
❸　IN YOUMarketで買い物をすることで、楽しいオーガニックライフや健やかな暮らしに必要な年間2000万人以上の最新情報を、より多くの方にお届けが可能になり、最新のオーガニック情報を日本に広めることに貢献できます。　
</strong>
<br><br>

<h3>こんにちは。<br>IN YOUMarket代表、兼WEBマガジンIN YOU編集長の松浦 愛と申します。</h3>
<p>この度は、IN YOU Marketにお越しくださいまして、誠にありがとうございます。</p>
<p>3年半前にIN YOUを立ち上げて以来、私たちは、皆さんの暮らしをより健やかで幸せなものにするための知恵をお伝えし、自分や大切な人の体を守るための<strong>「今すぐ使える情報発信」</strong>を通じて消費者の意識改善に努めてまいりました。</p>
<p>そしておかげさまで今、たくさんのファン・読者様に恵まれ、国内最大級のマクロビオティック＆オーガニックメディアに成長することができました。今回、人間と環境にやさしいもの、国内外にオーガニックなものを広めるためのネクスト・プロジェクトとしてIN YOUが本当に厳選するナチュラルプロダクトを集めたライフスタイル提案型オンラインショップ<strong>「IN YOU MARKET」</strong>をオープンしました。</p>
<h3>IN YOU　MARKET立ち上げへのきっかけと想い</h3>
  <p><strong>「本当にいいもの」を簡単に探せる場所を作りたいと思った。
      <br>
      これまで3年半、IN YOUを通じて情報発信をする中で、ふと、こんな声があることに気が付きました。<br>
    <br>
「IN YOUでみたレシピの材料をそろえたいけれど、どこで買えばいいかわからない。」<br>
「ナチュラルで安心なものがほしいけれど、忙しくて選ぶ暇がない。」<br>
「おすすめの〇〇はどれですか？」<br>
「ネットでサーチしていい商品を見つけるのが手間だ」</strong> </p>
 
  <p>読者からのこんな声です。</p>
<p>確かに、働く女性や主婦は毎日忙しい。<strong>情報が氾濫する今、限られた時間の中で、よい商品にたどり着くことはとても難しいと思います。</strong>そんなニーズもあり、私はこう思いました。<br>
  <br>
  <strong>IN YOUでも、そんな悩みを解消したい。<br>
  そこで思いついたのが、IN YOU MARKETでした。</strong><h3>オーガニックなもの、安全なものが当たり前の世の中を作りたい。<br>
    オーガニック＆ナチュラル市場を国内外で拡大するという夢。</h3>
<p>私がさまざまな方にお会いしてきた中で、日々問題に感じていたのは、日本のオーガニック農地のあまりに少ない面積です。例えば<strong>オーガニックがすでに発展しているヨーロッパなどの海外と比べるとなんと約100倍の差をつけられているのです。</strong>海外と比較し、日本はオーガニックの農地面積は約0.2～0.3％台をさまよっています。さらには各国で禁止されはじめている危険な農薬使用や種類の緩和を毎年続けています。</p>
<p><strong>「公的機関が認めたなら安全だから大丈夫に違いない」<br>
</strong><strong>「大手が言っているのだからきっと大丈夫だろう。」</strong></p>
<p>そんな不確かな根拠を信じる消費者も後を絶ちません。<br>農薬のみならず、数えきれないくらいの添加物の使用も顕著です。<br>米国で危険だと判断され禁止されたトランス脂肪酸の含まれるものもまだたくさん売られていますし、発がん性の物質を含む物質を多量に入れた消費者の健康が危惧される商品も増え続けています。<br>さらには２０１８年４月、日本の穀物を守る種子法が廃止されてしまいました。<br>このままでは、遺伝子組換え作物が日本の食卓に増加し知らず知らずのうちに原因不明の病気や奇形に悩まされる人が、後をたたなくなるのは目に見えています。<br>
「日本の食が終わる」と不安視する専門家も、います。
<br></p>


<br>
<h3>この危機的現状を少しでも歯止めをかけたい・・・<strong>そう思いました。
  </strong>  </h3>
  <p>ところで、いったい、いつから「オーガニック」が特別視されるようになってしまったのでしょうか？<br>
    農薬は戦争の産物と言われる通り、戦争で余ってしまった資源を肥料に変えた、という話を知ったとき、私は言葉を失いました。しかし、農薬がなくても作物を育てる習慣や技術はどの国でも、あったはずです。<strong>本来オーガニックは、人間や動物が自然に寄り添って生きていくために必要な方法であり、当然の姿だったはずなのです。</strong>それがいつの間にか、「オーガニックは特別なもの、特別な人が買うもの」というイメージが定着してしまいました。</p><br>
<h3>心身ともに健やかな人を増やしたい。<br>
  すべての人にオーガニックな暮らしを。</h3>
<p>現代社会に生きる人々はあわただしく仕事に追われた結果、自分のことを蔑ろにして、疲れ果ててしまう人も少なくありません。食生活は市販の総菜や安価な弁当ですます。気が付いたら身も心もボロボロ。<br>
<br>
そんな人を減らし、心身ともに健やかな人を増やすんだ。<br>今こそ、すべての人にオーガニックな暮らしのすばらしさを知っていただく必要がある。<br>

いつしか、そんな思いがつのるようになりました。<br>そして私なりにどうしたらいいのか迷い続けていました。</p><br><br>
<h3>素晴らしい思いを持った業者や生産者を応援したい。</h3>
<p>でも、私にできることは、なんだろう？</p>
<p>私に唯一、できることは多くのユーザーさんに情報を伝えることでした。<br>けれど、それだけじゃ足りない。では、情報発信のみならずIN YOUが時間のない、忙しい現代人の代わりになって「世の中のまだ知られていないものも含めたいいもの」を集めて拡散する役目になろう。 <br>そう思ったのです。<br>その結果、ネクストプロジェクトとして「IN YOU MARKET」の着想に至りました。<br>
  <br><br><br>
  <strong>実は出店者様もIN YOUの読者からスタートしたんです。<br>
  メディア初ECだからこそできること。</strong> </p>
<p>世の中には素晴らしいものづくりをされる方がたくさんいらっしゃることを、知っています。でも売る力がない・・・。 それだけであふれかえる大量生産の商品に埋もれてしまうのはとても勿体ない。私たちIN YOUはそんな素晴らしいことを行う人たちを応援したいと思っています。<br>オープンしていない当時から、たくさんの素敵な業者様からご連絡をいただくことができました。 </p>
<p><strong>しかも、その半数以上は「IN YOUをいつも読んでいました」という読者の方々。</strong> </p>
<p>メディア発のオンラインストアだからこそできることがあると思っています。<br>私たちは、これまでと変わらず、読者のみなさんと一緒になって、よりよい世界を作っていきたいと思っています。 </p>
<p><strong>買い物はその人を表わす行為。<br>
  沢山の中から、何を買うか、どんな企業から買うか。<br><br>
</strong><strong>何気ない行動も全て未来につながっていきます。</strong> </p>
<p>買い物は投票活動という言葉がありますが、本当にその通りで、どのような場所で買うのか、だれから買うのか、どんな企業から買うのか。何気ない行動で、その人の人となりが見えるものです。 <br>私とここで出会えたのはきっと何かの素敵なご縁なのではないかと思います。 </p><br>
<h3>ぜひ一緒に日本の食卓を少しでもクリーンなものにし、素晴らしい世界を作りましょう！</h3>

不明点がある場合は何なりとお問い合わせください。



  </div>



<div align="center"><a href="http://line.me/ti/p/@vva0224k"><img src="http://inyoumarket.com/shops/html/template/3002/img/top/linebannerbig.png" alt=""/></a></div>

                            {% if help is not null %}
                            {{ help.customerAgreement|raw|nl2br }}
                            {% endif %}
                        </div><!-- /.col -->
                    </div><!-- /.row -->

                </div>
            </div>
        </div>
    </div>

{% endblock %}