{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}

    <div id="" class="main_only">
        <div id="agreement_wrap" class="container-fluid inner no-padding">
            <div id="">
                <h1 class="page-heading">IN YOUクリスマス特集！</h1>
                <div id="agreement_box__body" class="container-fluid">
             
						<img src="https://inyoumarket.com/shops/html/template/3002/img/top/market_slider1214.png" alt="market_slider" width="100%" height="auto" class="aligncenter size-medium wp-image-85873" />

<p><strong><font size="3" color="#FE2E2E">指折り数えてクリスマスを待ちわびていた子供の頃に戻って、、昔に戻ってツリーを飾って、プレゼントやパーティのなどの準備を楽しみながら、クリスマスシーズンを心豊かに過ごしてみてはいかがですか？☆☆</font>
<font size="3" ><p>クリスマスケーキ、クリスマスプレゼントなどIN YOU厳選の商品の中から人気の商品ピックアップ。クリスマスにぴったりの商品を多数ご紹介<br>
<br></font>


<font size="3" color="#FE9A2E">クリスマスの準備はバッチリ！?IN YOU特集記事♡</font><br><br>
<a href="http://macrobiotic-daisuki.jp/christmaszakkokumix-90784.html">雑穀を使った手間をかけたような仕上がり！ミートローフならぬヴィーガン仕様の「グレインローフ」の作り方</a><br>
<a href="http://macrobiotic-daisuki.jp/glutenfree-2-85906.html">クリスマスのおもたせやパーティーの一品に！超簡単グルテンフリースノーボールの作り方
</a><br>
<a href="http://macrobiotic-daisuki.jp/vegansyukurimu-88158.html">インスタ映えバッチリ！生地からクリームまで完全植物性。ヴィーガンシュークリームの作り方。</a><br>
<br><br>
<font size="3" color="#0000ff">IN YOUオススメの商品をご紹介！</p></strong></font>
<div id="item_list">
	
        <div class="row no-padding">
                          

                         <div id="result_list_box--52" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--52" class="product_item" style="height: 371px;">
                        <a href="https://inyoumarket.com/shops/products/detail/52">
                            <div id="result_list__image--52" class="item_photo">
                                <img src="/shops/html/upload/save_image/1125203542_5838220e8aa0b.jpg">
                            </div>
                            <dl id="result_list__detail--52">
                                <dt id="result_list__name--52" class="item_name" style="height: 162px;">パーティーや週末に食べたい！オーガニック原料のみでできたパーフェクトな5種類の木の実のヴィーガンタルト</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--52" class="item_price">¥ 5,800</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>


<div id="result_list_box--62" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--62" class="product_item" style="height: 398px;">
                        <a href="https://inyoumarket.com/shops/products/detail/62">
                            <div id="result_list__image--62" class="item_photo">
                                <img src="/shops/html/upload/save_image/1219011517_5856b61569bcc.jpg">
                            </div>
                            <dl id="result_list__detail--62">
                                <dt id="result_list__name--62" class="item_name" style="height: 189px;">【IN YOU限定】砂糖不使用！添加物ゼロ。トーストしてカリッと、ふわもち！グルテンフリーミニ食パン【冷凍便】</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--62" class="item_price">¥ 2,500</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>
<div id="result_list_box--61" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--61" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/61">
                            <div id="result_list__image--61" class="item_photo">
                                <img src="/shops/html/upload/save_image/1219010657_5856b42107eb4.jpg">
                            </div>
                            <dl id="result_list__detail--61">
                                <dt id="result_list__name--61" class="item_name">【IN YOU限定】無農薬米を使ったとろけるティラミス！VEGAN・グルテンフリー・オーガニック【冷凍品】</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--61" class="item_price">¥ 3,500</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>
<div id="result_list_box--35" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--35" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/35">
                            <div id="result_list__image--35" class="item_photo">
                                <img src="/shops/html/upload/save_image/1102160118_58198f3ea3ba8.jpg">
                            </div>
                            <dl id="result_list__detail--35">
                                <dt id="result_list__name--35" class="item_name">【ギフトセット】ミシュランシェフも愛用する本物のオリーブオイル。ギリシャ産 最高品質オーガニックオリーブオイル「カラマノリ」200ml　 t31</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--35" class="item_price">¥ 5,900</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>
<div id="result_list_box--8" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--8" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/8">
                            <div id="result_list__image--8" class="item_photo">
                                <img src="/shops/html/upload/save_image/0606200809_59368d193a8e0.png">
                            </div>
                            <dl id="result_list__detail--8">
                                <dt id="result_list__name--8" class="item_name">【季節のお任せ4個セット】自然農法の無農薬素材を使用！幸せ過ぎるVEGANオーガニッククッキー アソート t6</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--8" class="item_price">¥ 5,691</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>

<div id="result_list_box--147" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--147" class="product_item" style="height: 408px;">
                        <a href="https://inyoumarket.com/shops/products/detail/147">
                            <div id="result_list__image--147" class="item_photo">
                                <img src="/shops/html/upload/save_image/0506164348_590d7eb4459da.jpg">
                            </div>
                            <dl id="result_list__detail--147">
                                <dt id="result_list__name--147" class="item_name" style="">白砂糖不使用。シングルオリジン！ビーガンチョコスプレッド【2個セット】</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--147" class="item_price">¥ 3,000</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>
<div id="result_list_box--309" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--309" class="product_item" style="height: 371px;">
                        <a href="https://inyoumarket.com/shops/products/detail/309">
                            <div id="result_list__image--309" class="item_photo">
                                <img src="/shops/html/upload/save_image/1211185553_5a2e562942223.jpg">
                            </div>
                            <dl id="result_list__detail--309">
                                <dt id="result_list__name--309" class="item_name" style="height: 162px;">IN YOU限定！グルテンフリー！シュガーフリー！有機ココア×有機バナナのクリスマススコップケーキ</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--309" class="item_price">¥ 4,200</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>



				 <div id="result_list_box--177" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--177" class="product_item" style="height: 408px;">
                        <a href="https://inyoumarket.com/shops/products/detail/177">
                            <div id="result_list__image--177" class="item_photo">
                                <img src="/shops/html/upload/save_image/0927191537_59cb7a4909657.jpg">
                            </div>
                            <dl id="result_list__detail--177">
                                <dt id="result_list__name--177" class="item_name" style="height: 162px;">罪悪感ゼロ！オーガニック原料をふんだんに使ったリッチなシュガーフリー・ローチョコ ブリスボール10個入り</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--177" class="item_price">¥ 3,331</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>
		
                            {% if help is not null %}
                            {{ help.customerAgreement|raw|nl2br }}
                            {% endif %}
                        </div><!-- /.col -->
                    </div><!-- /.row -->

        </div>
    </div>

{% endblock %}