{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}

    <div id="" class="main_only">
        <div id="agreement_wrap" class="container-fluid inner no-padding">
            <div id="">
                <h1 class="page-heading">新年の準備は万端ですか？お正月に使えるアイテム、素材特集！</h1>
                <div id="agreement_box__body" class="container-fluid">
             
						<img src="https://inyoumarket.com/shops/html/template/3002/img/top/market_slider1214B.png" alt="market_slider1114" width="100%" height="auto" class="aligncenter size-medium wp-image-85873" />

<strong><font size="3" ><p>今年も終わりに近づき、新しい年を迎えようとしています。大掃除やお正月の準備をしなければ！という心意気もあると思いますが、いったい何から手を付けるべきか、実はよく分かっていない方も多いと思います。そこで今回は、<br>
<font size="3" color="#FE2E2E">”お正月に使えるアイテム、素材特集！”</font><br>おせちにも使えるオススメ商品をピックアップ！<br>
準備がまだできていない方は、是非試して見てください☆


<font size="3" color="#FE9A2E">お正月の準備にオススメ！IN YOU特集記事♡</font><br><br>
<a href="http://macrobiotic-daisuki.jp/machazenzai-91689.html">【保存版！お正月レシピ】海外でも今人気の有機抹茶を使ったスイーツ。お正月に甘過ぎない抹茶ぜんざいの作り方</a><br>
<a href="http://macrobiotic-daisuki.jp/organic-osechi-90439.html">【おせちレシピ】砂糖不使用のオーガニック鉄板おせちの作り方。</a><br>
<br>
<br><br>
<font size="3" color="#0000ff">IN YOUオススメの商品をご紹介！</p></strong></font>
<div id="item_list">
	
        <div class="row no-padding">
<div id="result_list_box--175" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--175" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/175">
                            <div id="result_list__image--175" class="item_photo">
                                <img src="/shops/html/upload/save_image/0624211025_594e56b10aa0e.jpg">
                            </div>
                            <dl id="result_list__detail--175">
                                <dt id="result_list__name--175" class="item_name">【IN YOU完全限定品】美味し過ぎる！13年間自然栽培。最強の米味噌 2個セット</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--175" class="item_price">¥ 3,600</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>
                           <div id="result_list_box--57" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--57" class="product_item" style="height: 344px;">
                        <a href="https://inyoumarket.com/shops/products/detail/57">
                            <div id="result_list__image--57" class="item_photo">
                                <img src="/shops/html/upload/save_image/1130214336_583ec978ded5f.jpg">
                            </div>
                            <dl id="result_list__detail--57">
                                <dt id="result_list__name--57" class="item_name" style="height: 135px;">【IN YOU限定】白米と同じ要領で簡単に炊ける！岡山県産ぷちぷち無農薬自然栽培玄米【２パックセット】</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--57" class="item_price">¥ 4,212</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>

                            <div id="result_list_box--56" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--56" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/56">
                            <div id="result_list__image--56" class="item_photo">
                                <img src="/shops/html/upload/save_image/1130210909_583ec1653f1b0.jpg">
                            </div>
                            <dl id="result_list__detail--56">
                                <dt id="result_list__name--56" class="item_name">【IN YOU限定品】岡山県産、完全無農薬！自然栽培 玄米甘酒セット(2パックSET)</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--56" class="item_price">¥ 4,320</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>

                          <div id="result_list_box--188" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--188" class="product_item" style="height: 317px;">
                        <a href="https://inyoumarket.com/shops/products/detail/188">
                            <div id="result_list__image--188" class="item_photo">
                                <img src="/shops/html/upload/save_image/0711104754_59642e4a67e51.jpg">
                            </div>
                            <dl id="result_list__detail--188">
                                <dt id="result_list__name--188" class="item_name" style="height: 108px;">無農薬無肥料で育てられたパワーあふれる生命力の強いほうじ茶２個セット</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--188" class="item_price">¥ 3,100</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>




<div id="result_list_box--249" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--249" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/249">
                            <div id="result_list__image--249" class="item_photo">
                                <img src="/shops/html/upload/save_image/1011121530_59dd8cd2abe68.jpg">
                            </div>
                            <dl id="result_list__detail--249">
                                <dt id="result_list__name--249" class="item_name">添加物ゼロ！和歌山県熊野の大自然で育てられた南高梅のオーガニック梅干し</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--249" class="item_price">
                                        ¥ 1,404 ～ ¥ 5,500
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>

<div id="result_list_box--236" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--236" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/236">
                            <div id="result_list__image--236" class="item_photo">
                                <img src="/shops/html/upload/save_image/0928212642_59ccea821bc71.jpg">
                            </div>
                            <dl id="result_list__detail--236">
                                <dt id="result_list__name--236" class="item_name">90年の歴史を持つ技術を受け継ぐ本格ビネガー！「あきたこまち」から作られた有機純米酢</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--236" class="item_price">
                                        ¥ 1,112 ～ ¥ 2,256
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>


<div id="result_list_box--291" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--291" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/291">
                            <div id="result_list__image--291" class="item_photo">
                                <img src="/shops/html/upload/save_image/1113140957_5a092925ab480.jpg">
                            </div>
                            <dl id="result_list__detail--291">
                                <dt id="result_list__name--291" class="item_name">日本古来の手火山式で燻された、うま味調味料や加工助剤不使用、天然だし100%のだしパックとだしパウダー</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--291" class="item_price">
                                        ¥ 3,780 ～ ¥ 4,320
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>

<div id="result_list_box--294" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--294" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/294">
                            <div id="result_list__image--294" class="item_photo">
                                <img src="/shops/html/upload/save_image/1120110202_5a12379aedea4.jpg">
                            </div>
                            <dl id="result_list__detail--294">
                                <dt id="result_list__name--294" class="item_name">世界のごまを知りつくしたごま専門店が選ぶ有機ごまと添加物、甘味料を使わない有機ごまふりかけ</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--294" class="item_price">
                                        ¥ 2,052 ～ ¥ 3,996
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>
<div id="result_list_box--59" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--59" class="product_item" style="height: 317px;">
                        <a href="https://inyoumarket.com/shops/products/detail/59">
                            <div id="result_list__image--59" class="item_photo">
                                <img src="/shops/html/upload/save_image/1205012223_584442bf3c2b9.jpg">
                            </div>
                            <dl id="result_list__detail--59">
                                <dt id="result_list__name--59" class="item_name" style="height: 108px;">【大人気！】期間限定、数量限定！超貴重な農薬化学肥料不使用のりんごセット</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--59" class="item_price">
                                        ¥ 4,500 ～ ¥ 12,501
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>
<div id="result_list_box--193" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--193" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/193">
                            <div id="result_list__image--193" class="item_photo">
                                <img src="/shops/html/upload/save_image/0724161153_59759db917149.jpg">
                            </div>
                            <dl id="result_list__detail--193">
                                <dt id="result_list__name--193" class="item_name">低GI甘味料！アガベの中でも最高品質の農薬不使用RAWブルーアガベシロップ</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--193" class="item_price">¥ 2,700</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>

						
						
                            {% if help is not null %}
                            {{ help.customerAgreement|raw|nl2br }}
                            {% endif %}
                        </div><!-- /.col -->
                    </div><!-- /.row -->

        </div>
    </div>

{% endblock %}