{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}

    <div id="" class="main_only">
        <div id="agreement_wrap" class="container-fluid inner no-padding">
            <div id="">
                <h1 class="page-heading">冬到来！準備は大丈夫？！風邪対策特集！</h1>
                <div id="agreement_box__body" class="container-fluid">
             
						<img src="http://macrobiotic-daisuki.jp/cms/wp-content/uploads/market_slider1114-450x217.png" alt="market_slider1114" width="100%" height="auto" class="aligncenter size-medium wp-image-85873" />

<strong><font size="3" ><p>木枯らしが吹き始め、いよいよ冬の到来。風邪、インフルエンザの季節がやってきました！<br>ダウンやコート、ニット、ストーブ...etc すでに準備している方も多いのではないでしょうか？<br>
寒さ対策は万全でも、体の中から風邪対策ってしっかりできてますか？<br>
<br>私の周りでは、<br><font size="3" color="#FE2E2E">”念入りに準備してたけど、失敗した。。。”<br>”そもそも体の中から対策ってどんなことをすればいいの？”</font><br>と悩んでいる友人も多いです！<br>今回は体の外からだけでなく、中から対策できる商品をPICK UP!<br>
準備がまだできていない方は、是非試して見てください☆
<br><br>

<font size="3" color="#FE9A2E">風邪対策にオススメ！IN YOU特集記事♡</font><br><br>
<a href="http://macrobiotic-daisuki.jp/kazegusuri-74759.html">マクロビオティック式風邪薬の作り方</a><br>
<a href="http://macrobiotic-daisuki.jp/autumn-70223.html">体を内側から潤す、東洋医学から見た秋の基本の養生法</a><br>
<a href="http://macrobiotic-daisuki.jp/daikonnasi-73561.html">秋の風邪に効果的な薬膳「だいこん梨ジュース」の作り方</a><br>
<br><br>
<font size="3" color="#0000ff">IN YOUオススメの商品をご紹介！</p></strong></font>
<div id="item_list">
	 <div id="result_list_box--326" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--326" class="product_item" style="height: 425px;">
                        <a href="https://inyoumarket.com/shops/products/detail/326">
                            <div id="result_list__image--326" class="item_photo">
                                <img src="/shops/html/upload/save_image/1228145515_5a4487430aa41.jpg">
                            </div>
                            <dl id="result_list__detail--326">
                                <dt id="result_list__name--326" class="item_name" style="height: 216px;">長野県の豊かさを「ぎゅっ！」と詰め込んだ１００% 農薬不使用のローケーキ「ラズベリー&amp;カシス」とローカカオの濃厚さがたまらない「リッチショコラローケーキ」</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--326" class="item_price">
                                        ¥ 5,800 ～ ¥ 11,000
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>
                            <div id="result_list_box--20" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--20" class="product_item" style="height: 425px;">
                        <a href="https://inyoumarket.com/shops/products/detail/20">
                            <div id="result_list__image--20" class="item_photo">
                                <img src="/shops/html/upload/save_image/1010085740_57fad974dbce2.jpg">
                            </div>
                            <dl id="result_list__detail--20">
                                <dt id="result_list__name--20" class="item_name" style="height: 216px;">ほぼ全部オーガニック！宝石のように美しいプレミアムパウンドケーキ　ケイクディファレント ケイク オ フリュイ t2</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--20" class="item_price">¥ 4,320</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>
       

        </div>
    </div>

{% endblock %}