{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}

    <div id="" class="main_only">
        <div id="agreement_wrap" class="container-fluid inner no-padding">
            <div id="">
                <h1 class="page-heading"></h1>
                <div id="agreement_box__body" class="container-fluid">
             
						<img src="https://inyoumarket.com/shops/html/template/3002/img/top/market_slider0509B (2).png" alt="market_slider1114" width="100%" height="auto" class="aligncenter size-medium wp-image-85873" />

<strong><font size="3" ><p>気温が高くなり、梅雨の気配が近づいてきましたね。
ジメジメした季節を乗り越えて、楽しい夏を迎えたいです。。IN YOUマーケットでは、梅雨を乗り越えるために使える、オススメ商品をピックアップ☆


<font size="3" color="#FE9A2E">梅雨対策にオススメ！IN YOU特集記事♡</font><br><br>
<a href="http://macrobiotic-daisuki.jp/tuyu-115626.html">東洋医学から見た梅雨を乗り切るために事前に食べておきたい食べ物と、お手当４つのポイント</a><br>
<a href="http://macrobiotic-daisuki.jp/mukumi-genin-tabemono-17494.html">梅雨の不調とむくみの原因とは？体に溜まった湿気を出してスッキリむくみを解消する方法。</a><br>
<br>
<br><br>
<font size="3" color="#0000ff">IN YOUオススメの商品をご紹介！</p></strong></font>
<div id="item_list">
	
        <div class="row no-padding">
<div id="result_list_box--276" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--276" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/276">
                            <div id="result_list__image--276" class="item_photo">
                                <img src="/shops/html/upload/save_image/1031182925_59f84275a0c57.jpg">
                            </div>
                            <dl id="result_list__detail--276">
                                <dt id="result_list__name--276" class="item_name">抗酸化作用や免疫力向上などの機能性も注目されている３煎目もたっぷり味わえる有機栽培の高級煎茶</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--276" class="item_price">
                                        ¥ 1,280 ～ ¥ 3,440
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>

                         <div id="result_list_box--365" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--365" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/365">
                            <div id="result_list__image--365" class="item_photo">
                                <img src="/shops/html/upload/save_image/0328101954_5abaedbac4b3f.jpg">
                            </div>
                            <dl id="result_list__detail--365">
                                <dt id="result_list__name--365" class="item_name">無農薬野菜の植物性食材１００％無添加ヴィーガンキムチ</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--365" class="item_price">
                                        ¥ 3,650 ～ ¥ 5,702
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>

                         <div id="result_list_box--364" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--364" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/364">
                            <div id="result_list__image--364" class="item_photo">
                                <img src="/shops/html/upload/save_image/0323165815_5ab4b397970b9.jpg">
                            </div>
                            <dl id="result_list__detail--364">
                                <dt id="result_list__name--364" class="item_name">炭とイオン化した水（電子水）が自然栽培米と出会って起きた「奇跡」。これ以上はない、こだわりの味噌と甘酒。</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--364" class="item_price">
                                        ¥ 1,561 ～ ¥ 4,903
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>

<div id="result_list_box--322" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--322" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/322">
                            <div id="result_list__image--322" class="item_photo">
                                <img src="/shops/html/upload/save_image/1225154317_5a409e05b3b4e.jpg">
                            </div>
                            <dl id="result_list__detail--322">
                                <dt id="result_list__name--322" class="item_name">【IN YOU限定】自然農法提唱者・福岡正信氏の血を引き継いだ農園で自然栽培で作られた季節の農薬不使用の果物セットとジャム</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--322" class="item_price">
                                        ¥ 4,000 ～ ¥ 8,400
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>


<div id="result_list_box--361" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--361" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/361">
                            <div id="result_list__image--361" class="item_photo">
                                <img src="/shops/html/upload/save_image/0319122220_5aaf2cec71704.jpg">
                            </div>
                            <dl id="result_list__detail--361">
                                <dt id="result_list__name--361" class="item_name">人参の活きたままの栄養を手軽に摂れる、有機JAS認定工場で酵素分解された人参ペースト</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--361" class="item_price">
                                        ¥ 5,400 ～ ¥ 9,180
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>


<div id="result_list_box--317" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--317" class="product_item" style="height: 371px;">
                        <a href="https://inyoumarket.com/shops/products/detail/317">
                            <div id="result_list__image--317" class="item_photo">
                                <img src="/shops/html/upload/save_image/1215133723_5a335183ae015.jpg">
                            </div>
                            <dl id="result_list__detail--317">
                                <dt id="result_list__name--317" class="item_name" style="height: 162px;">南極に近いニュージーランドの南の島の海塩を使用、乾燥オリーブとハーブが絶妙なバランスでミックスされた万能ハーブソルト</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--317" class="item_price">
                                        ¥ 1,690 ～ ¥ 6,350
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>

<div id="result_list_box--116" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--116" class="product_item" style="height: 398px;">
                        <a href="https://inyoumarket.com/shops/products/detail/116">
                            <div id="result_list__image--116" class="item_photo">
                                <img src="/shops/html/upload/save_image/0303201431_58b950176e477.jpg">
                            </div>
                            <dl id="result_list__detail--116">
                                <dt id="result_list__name--116" class="item_name" style="height: 189px;">私のカレーはこれで決まり。シュガーフリー！グルテンフリー！添加物フリー！スーパーカレーセット【お得な4パックセット！ 中辛】</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--116" class="item_price">¥ 2,400</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>
						
						
                            {% if help is not null %}
                            {{ help.customerAgreement|raw|nl2br }}
                            {% endif %}
                        </div><!-- /.col -->
                    </div><!-- /.row -->

        </div>
    </div>

{% endblock %}