{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}

    <div id="" class="main_only">
        <div id="agreement_wrap" class="container-fluid inner no-padding">
            <div id="">
                <h1 class="page-heading">花粉症対策特集</h1>
                <div id="agreement_box__body" class="container-fluid">
             
						<img src="http://macrobiotic-daisuki.jp/cms/wp-content/uploads/market_slider0127B.png" alt="market_slider1114" width="100%" height="auto" class="aligncenter size-medium wp-image-85873" />

<strong><font size="3" ><p> いよいよ花粉シーズン到来！ IN YOUマーケット厳選の最新の花粉対策グッズを集めてみました。


<br><font size="3" color="#FE2E2E">
治療を行っていても、原因となる花粉は空気中にたくさん含まれています。<br>
症状の悪化を防ぐためには、花粉をできるだけ避けるだけでなく免疫バランスを調整し、根本的に体質改善を行なっていくことが大事です。
<br><br>

<font size="3" color="#FE9A2E">花粉症対策！IN YOU特集記事♡</font><br><br>
<a href="http://macrobiotic-daisuki.jp/kahunsyo-2-103294.html">薬剤師が教える東洋医学からみた食べ物などの予防対策方法と漢方の使い分け方</a><br>
<a href="http://macrobiotic-daisuki.jp/kahunsyo-48508.html">「花粉症を悪化させた食べ物」と「花粉症を改善するために食べた食べ物」</a><br>
<a href="http://macrobiotic-daisuki.jp/bainikuekisu-kounou-47005.html">一度知ったらもう手放せない梅肉エキスの知られざるパワーと効能。</a><br>
<br><br>
<font size="3" color="#0000ff">IN YOUオススメの商品をご紹介！</p></strong></font>

<div id="item_list">
	
        <div id="item_list">
	
        <div class="row no-padding">
                           <div id="result_list_box--73" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--73" class="product_item" style="height: 425px;">
                        <a href="https://inyoumarket.com/shops/products/detail/73">
                            <div id="result_list__image--73" class="item_photo">
                                <img src="/shops/html/upload/save_image/1127105356_5a1b70341a3b8.jpg">
                            </div>
                            <dl id="result_list__detail--73">
                                <dt id="result_list__name--73" class="item_name" style="height: 216px;">世界中で最も厳しい基準を持つドイツ産最高品質タブレット「エスタービタミンＣ 1,000㎎」60粒</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--73" class="item_price">
                                        ¥ 5,300 ～ ¥ 29,824
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>
                          <div id="result_list_box--213" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--213" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/213">
                            <div id="result_list__image--213" class="item_photo">
                                <img src="/shops/html/upload/save_image/1121130502_5a13a5eebd3b6.jpg">
                            </div>
                            <dl id="result_list__detail--213">
                                <dt id="result_list__name--213" class="item_name">日本初上陸！IN YOU限定。EUオーガニック認証取得済み！ヴィーガン・プロバイオティクス（乳酸菌）サプリメント</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--213" class="item_price">
                                        ¥ 5,144 ～ ¥ 32,152
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>
                            <div id="result_list_box--324" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--324" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/324">
                            <div id="result_list__image--324" class="item_photo">
                                <img src="/shops/html/upload/save_image/1226171612_5a42054c805d5.jpg">
                            </div>
                            <dl id="result_list__detail--324">
                                <dt id="result_list__name--324" class="item_name">自分の身体をケアする為に、毎日の暮らしに1本！日本ならではの希少品種「赤丸」柔らかな香りの和種ハッカ。</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--324" class="item_price">
                                        ¥ 4,500 ～ ¥ 8,000
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>
                            <div id="result_list_box--219" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--219" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/219">
                            <div id="result_list__image--219" class="item_photo">
                                <img src="/shops/html/upload/save_image/0918143718_59bf5b8e3b729.jpeg">
                            </div>
                            <dl id="result_list__detail--219">
                                <dt id="result_list__name--219" class="item_name">海外有機認証 複数取得。ヴィーガン&amp;オーガニック！ウエイトコントロールにオススメ。健やかにスタイルキープ！プロテイン・デトックスパウダー</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--219" class="item_price">
                                        ¥ 5,292 ～ ¥ 22,491
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>
                            <div id="result_list_box--315" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--315" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/315">
                            <div id="result_list__image--315" class="item_photo">
                                <img src="/shops/html/upload/save_image/1215114650_5a33379a96df8.jpg">
                            </div>
                            <dl id="result_list__detail--315">
                                <dt id="result_list__name--315" class="item_name">栄養価の高いフィリピン産の在来種のみを使用。自然農法・無農薬で栽培した高品質なモリンガパウダーとパンやパスタと相性抜群モリンガペースト</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--315" class="item_price">
                                        ¥ 2,600 ～ ¥ 7,800
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>

<div id="result_list_box--305" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--305" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/305">
                            <div id="result_list__image--305" class="item_photo">
                                <img src="/shops/html/upload/save_image/1129163528_5a1e634048175.jpg">
                            </div>
                            <dl id="result_list__detail--305">
                                <dt id="result_list__name--305" class="item_name">添加物も砂糖も不使用。やっと本物に出会えた！古代から伝わる醸造技術で作られた無農薬のお茶でできたコンブッカ</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--305" class="item_price">
                                        ¥ 10,800 ～ ¥ 31,000
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>
                          <div id="result_list_box--297" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--297" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/297">
                            <div id="result_list__image--297" class="item_photo">
                                <img src="/shops/html/upload/save_image/1120154558_5a127a26d4114.jpg">
                            </div>
                            <dl id="result_list__detail--297">
                                <dt id="result_list__name--297" class="item_name">加齢や有害物質が気になる方へ。高い毒素吸着力を追求して辿り着いたヤシガラ活性炭と長野県に自生する炭という最強の炭のコンビで叶えられた炭パウダー</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--297" class="item_price">
                                        ¥ 6,030 ～ ¥ 16,400
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>
<div id="result_list_box--293" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--293" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/293">
                            <div id="result_list__image--293" class="item_photo">
                                <img src="/shops/html/upload/save_image/1117163732_5a0e91bca956b.jpg">
                            </div>
                            <dl id="result_list__detail--293">
                                <dt id="result_list__name--293" class="item_name">「ダイエットビューティーアワード」のインナービューティー賞で優秀賞を受賞、１００％兵庫県丹波産、自家採種・無農薬のなた豆茶パウダー</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--293" class="item_price">
                                        ¥ 3,300 ～ ¥ 6,000
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>
<div id="result_list_box--290" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--290" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/290">
                            <div id="result_list__image--290" class="item_photo">
                                <img src="/shops/html/upload/save_image/1113133544_5a09212031712.jpg">
                            </div>
                            <dl id="result_list__detail--290">
                                <dt id="result_list__name--290" class="item_name">約１億年前の古代植物堆積層から自然のまま抽出した70種類以上の植物性ミネラル、オーガニックフルボ酸</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--290" class="item_price">
                                        ¥ 7,992 ～ ¥ 19,440
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>
<div id="result_list_box--277" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--277" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/277">
                            <div id="result_list__image--277" class="item_photo">
                                <img src="/shops/html/upload/save_image/1101170129_59f97f594c97c.jpg">
                            </div>
                            <dl id="result_list__detail--277">
                                <dt id="result_list__name--277" class="item_name">フィリピンで育てられたモリンガだからこその力!農薬や化学肥料を使わずに育ったモリンガパウダーとタブレットとスティック</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--277" class="item_price">
                                        ¥ 2,646 ～ ¥ 14,796
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>
			 
                           

        </div>
    </div>

{% endblock %}