{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}

    <div id="" class="main_only">
        <div id="agreement_wrap" class="container-fluid inner no-padding">
            <div id="">
                <h1 class="page-heading"></h1>
                <div id="agreement_box__body" class="container-fluid">
             
						<img src="https://inyoumarket.com/shops/html/template/3002/img/top/630_420B.png" alt="market_slider1114" width="100%" height="auto" class="aligncenter size-medium wp-image-85873" />

<strong><font size="3" ><p>夏が近づくにつれて、気になるのが日焼け対策！
紫外線は非常に手強くて、一時も油断はできません。

日焼けしたくないと考えているあなたに、おすすめの商品をご紹介します！
</p>


<font size="3" color="#FE9A2E">夏を乗り切ろう！IN YOU特集記事♡</font><br><br>
<a href="http://macrobiotic-daisuki.jp/hiyakedome-79448.html">「食べる日焼け止め」って知ってる？ 日焼け止め化粧品に頼らなくても「すっぴん美人」を叶える １０種類の食べ物たち。</a><br>
<a href="http://macrobiotic-daisuki.jp/sun-block-3878.html">市販日焼け止めに発ガン性リスクあり？体に悪い危険な日焼け止めのみきわめ方と、安全なノンケミカル日焼け止めクリームの選び方。</a><br>
<br>
<br><br>
<font size="3" color="#0000ff">IN YOUオススメの商品をご紹介！</p></strong></font>
<div id="item_list">
	
        <div class="row no-padding">
<div id="result_list_box--368" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--368" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/368">
                            <div id="result_list__image--368" class="item_photo">
                                <img src="/shops/html/upload/save_image/0405122940_5ac598249072f.jpg">
                            </div>
                            <dl id="result_list__detail--368">
                                <dt id="result_list__name--368" class="item_name">無着色・無香料で、保存料や防腐剤など化学物質は一切無添加。 未精製で、自然のままのモリンガオイル１００％オイル</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--368" class="item_price">
                                        ¥ 4,860 ～ ¥ 8,651
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>

                        <div id="result_list_box--95" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--95" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/95">
                            <div id="result_list__image--95" class="item_photo">
                                <img src="/shops/html/upload/save_image/0210021652_589ca40433327.jpg">
                            </div>
                            <dl id="result_list__detail--95">
                                <dt id="result_list__name--95" class="item_name">こんな日焼け止め、初めて。国産無農薬フルーツとハーブで作られた天然成分のみ。お肌に優しいオーガニック・サンクリーム</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--95" class="item_price">¥ 4,500</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>

<div id="result_list_box--39" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--39" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/39">
                            <div id="result_list__image--39" class="item_photo">
                                <img src="/shops/html/upload/save_image/1024041534_580d0c5696ed0.jpg">
                            </div>
                            <dl id="result_list__detail--39">
                                <dt id="result_list__name--39" class="item_name">私のヘアケアはこれ１つ。髪を紫外線と乾燥から守り美しく保つ！いい香りのするアウトバストリートメント　t4</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--39" class="item_price">¥ 3,996</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>

<div id="result_list_box--37" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--37" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/37">
                            <div id="result_list__image--37" class="item_photo">
                                <img src="/shops/html/upload/save_image/1024011607_580ce24721791.jpg">
                            </div>
                            <dl id="result_list__detail--37">
                                <dt id="result_list__name--37" class="item_name">厳しい基準をクリアしたエコサート認証取得！どこにでも使える究極のゴールデンホホバオイル t4</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--37" class="item_price">¥ 5,184</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>

<div id="result_list_box--367" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--367" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/367">
                            <div id="result_list__image--367" class="item_photo">
                                <img src="/shops/html/upload/save_image/0402130622_5ac1ac3ed812d.jpg">
                            </div>
                            <dl id="result_list__detail--367">
                                <dt id="result_list__name--367" class="item_name">美容・女性特有の不調にも。タネも丸ごと一物全体。果実を潰して作った最高品質の無農薬ざくろジュース</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--367" class="item_price">
                                        ¥ 3,650 ～ ¥ 25,920
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>

<div id="result_list_box--343" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--343" class="product_item">
                        <a href="https://inyoumarket.com/shops/products/detail/343">
                            <div id="result_list__image--343" class="item_photo">
                                <img src="/shops/html/upload/save_image/0206133150_5a792fb601e89.jpg">
                            </div>
                            <dl id="result_list__detail--343">
                                <dt id="result_list__name--343" class="item_name">エイジレスな美しさを目指す方へ。自然の力１００％でセルフケアができる、オーガニックサプリメントとクレンズジュースパウダー</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--343" class="item_price">
                                        ¥ 3,996 ～ ¥ 10,518
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>
						
						
                            {% if help is not null %}
                            {{ help.customerAgreement|raw|nl2br }}
                            {% endif %}
                        </div><!-- /.col -->
                    </div><!-- /.row -->

        </div>
    </div>

{% endblock %}