{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}

    <div id="" class="main_only">
        <div id="agreement_wrap" class="container-fluid inner no-padding">
            <div id="">
                <h1 class="page-heading">バレンタイン特集2018</h1>
                <div id="agreement_box__body" class="container-fluid">
             
						<img src="http://macrobiotic-daisuki.jp/cms/wp-content/uploads/market_slider0127A.png" alt="market_slider1114" width="100%" height="auto" class="aligncenter size-medium wp-image-85873" />

<strong><font size="3" ><p> 2月14日は聖バレンタインデー。バレンタインのチョコやプレゼント選びはIN YOUマーケットで！本命や義理、チョコ以外などにオススメの商品をご紹介！簡単手作りレシピやなどのお役立ち情報もご紹介
<br><font size="3" color="#FE2E2E">
手作りのお菓子を添えて、家族や友達、恋人に日頃の感謝を伝えてみませんか?</font>
準備がまだできていない方は、是非チェックしてみてください☆
<br><br>

<font size="3" color="#FE9A2E">バレンタインにオススメ！IN YOU特集記事♡</font><br><br>
<a href="http://macrobiotic-daisuki.jp/chocolate-snack-97248.html">バレンタインに作りたい。しっとり食感が美味しいヴィーガンチョコレートクッキーの作り方。</a><br>
<a href="chocolatecookietsukurikata-95485.html">体に悪いチョコレートを買う前に。正しいチョコの選び方と、バレンタインデーに食べたい、「チョコがけクッキー」の作り方</a><br>
<a href="http://macrobiotic-daisuki.jp/dropcookie-tsukurikata-42188.html">お礼ギフトやバレンタインにも作りたい！失敗なし。簡単美味しいグルテンフリーのドロップクッキー</a><br>
<br><br>
<font size="3" color="#0000ff">IN YOUオススメの商品をご紹介！</p></strong></font>

<div id="item_list">
	
        <div id="item_list">
	
        <div class="row no-padding">
                            <div id="result_list_box--306" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--306" class="product_item" style="height: 408px;">
                        <a href="https://inyoumarket.com/shops/products/detail/306">
                            <div id="result_list__image--306" class="item_photo">
                                <img src="/shops/html/upload/save_image/1205162705_5a264a49c5fa8.jpg">
                            </div>
                            <dl id="result_list__detail--306">
                                <dt id="result_list__name--306" class="item_name" style="height: 135px;">発酵食品である農薬不使用のローカカオの魅力を最大限に引き出したローチョコレート</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--306" class="item_price">
                                        ¥ 4,067 ～ ¥ 6,227
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>
                            <div id="result_list_box--157" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--157" class="product_item" style="height: 408px;">
                        <a href="https://inyoumarket.com/shops/products/detail/157">
                            <div id="result_list__image--157" class="item_photo">
                                <img src="/shops/html/upload/save_image/0530102952_592ccb105dedb.jpg">
                            </div>
                            <dl id="result_list__detail--157">
                                <dt id="result_list__name--157" class="item_name" style="height: 135px;">お口の中でとろける！ノンシュガー＆ノンミルクの美味すぎる私のローチョコレートセット</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--157" class="item_price">
                                        ¥ 2,420 ～ ¥ 9,370
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>
                            <div id="result_list_box--148" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--148" class="product_item" style="height: 408px;">
                        <a href="https://inyoumarket.com/shops/products/detail/148">
                            <div id="result_list__image--148" class="item_photo">
                                <img src="/shops/html/upload/save_image/0506165328_590d80f871fda.jpg">
                            </div>
                            <dl id="result_list__detail--148">
                                <dt id="result_list__name--148" class="item_name" style="height: 135px;">チョコ好きにお勧め！ビーガンシングルオリジンのチョコレート＆チョコスプレッドセット！</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--148" class="item_price">¥ 2,800</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>
                            <div id="result_list_box--147" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--147" class="product_item" style="height: 408px;">
                        <a href="https://inyoumarket.com/shops/products/detail/147">
                            <div id="result_list__image--147" class="item_photo">
                                <img src="/shops/html/upload/save_image/0506164348_590d7eb4459da.jpg">
                            </div>
                            <dl id="result_list__detail--147">
                                <dt id="result_list__name--147" class="item_name" style="">白砂糖不使用。シングルオリジン！ビーガンチョコスプレッド【2個セット】</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--147" class="item_price">¥ 3,000</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>
                            <div id="result_list_box--146" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--146" class="product_item" style="">
                        <a href="https://inyoumarket.com/shops/products/detail/146">
                            <div id="result_list__image--146" class="item_photo">
                                <img src="/shops/html/upload/save_image/0506163034_590d7b9a6d4c4.jpg">
                            </div>
                            <dl id="result_list__detail--146">
                                <dt id="result_list__name--146" class="item_name" style="">白砂糖不使用！シングルオリジン ビーントゥーバー!ビーガンチョコレートカカオ65％ 【2枚セット】</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--146" class="item_price">¥ 2,601</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>
<div id="result_list_box--326" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--326" class="product_item" style="height: 425px;">
                        <a href="https://inyoumarket.com/shops/products/detail/326">
                            <div id="result_list__image--326" class="item_photo">
                                <img src="/shops/html/upload/save_image/1228145515_5a4487430aa41.jpg">
                            </div>
                            <dl id="result_list__detail--326">
                                <dt id="result_list__name--326" class="item_name" style="height: 216px;">長野県の豊かさを「ぎゅっ！」と詰め込んだ１００% 農薬不使用のローケーキ「ラズベリー&amp;カシス」とローカカオの濃厚さがたまらない「リッチショコラローケーキ」</dt>
                                                                                                                                        <dd id="result_list__price02_inc_tax--326" class="item_price">
                                        ¥ 5,800 ～ ¥ 11,000
                                    </dd>
                                                                                                </dl>
                        </a>
                    </div>
                </div>
                            <div id="result_list_box--20" class="col-sm-3 col-xs-6">
                    <div id="result_list__item--20" class="product_item" style="height: 425px;">
                        <a href="https://inyoumarket.com/shops/products/detail/20">
                            <div id="result_list__image--20" class="item_photo">
                                <img src="/shops/html/upload/save_image/1010085740_57fad974dbce2.jpg">
                            </div>
                            <dl id="result_list__detail--20">
                                <dt id="result_list__name--20" class="item_name" style="height: 216px;">ほぼ全部オーガニック！宝石のように美しいプレミアムパウンドケーキ　ケイクディファレント ケイク オ フリュイ t2</dt>
                                                                                                    <dd id="result_list__price02_inc_tax--20" class="item_price">¥ 4,320</dd>
                                                            </dl>
                        </a>
                    </div>
                </div>			
						
                    </div>

    </div>
			 
                           

        </div>
    </div>

{% endblock %}